<!-- Footer -->	
<footer class="footer footer-five">
			
				
	<!-- /Footer Top Nav -->	
	<div class="footer-top ">
		<div class="container">
			<div class="col-12">
                <div class="register-job-blk">
                    <div class="job-content-blk aos" data-aos="fade-up">
                        <h2>Explorez notre gamme de produits!</h2>
                        <p>N'hésitez pas à nous contacter afin de discuter de votre projet et de vos travaux.</p>
						<p [routerLink]="routes.freelancerProject" class="btn all-btn">Poduits</p>
                        <a [routerLink]="routes.register" class="btn all-btn">Contacter</a>
                    </div>
                    <div class="see-all mt-0 aos opportunity   " data-aos="zoom-in"> 
						<img src="assets/img/logo.png" alt="img">
					</div>
                </div>
            </div>
			<div id="google_translate_element" class="small-translate-button"></div>

		</div>
	</div>
	<!-- /Footer Top -->
	
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container">

			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-md-12 col-lg-12 ">
						<div class="footer-bottom-content">
							<div class="copyright-text">
$							</div>
							<ul>
								<li><a href="javascript:void(0);" class="icon" target="_blank"><i class="fab fa-facebook-f"></i> </a></li>
								<li><a href="javascript:void(0);" class="icon" target="_blank"><i class="fab fa-linkedin-in"></i> </a></li>
								<li><a href="javascript:void(0);" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
						<div id="google_translate_element" class="small-translate-button"></div>

			<!-- /Copyright -->						
		</div>
	</div>
	<!-- /Footer Bottom -->				
</footer>
<!-- /Footer -->