<!-- Breadcrumb -->
<div class="bread-crumb-bar">
    <div class="container">
      <div class="row align-items-center inner-banner">
        <div class="col-md-12 col-12 text-center">
          <div class="breadcrumb-list">
            <h2>Blog Details</h2>
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink] = "routes.home"> Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Blog Details</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->
  
  <!-- Page Content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="blog-view">
            <div class="blog-single-post pro-post widget-box">
              <div class="blog-image">
                <a href="javascript:void(0);"
                  ><img
                    alt="Img"
                    src="assets/img/blog/normeca14.jpg"
                    class="img-fluid"
                /></a>
              </div>
              <h3 class="blog-title">MÉCANO SOUDURE</h3>
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li>
                      <div class="post-author">
                        <a [routerLink] = "routes.freelancer_developer_profile"
                          ><img
                            src="assets/img/logo.png"
                            alt="Post Author"
                          /><span>NORMECA</span></a
                        >
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0);"
                        ><i class="far fa-calendar"></i>4 MARS 2024</a
                      >
                    </li>
                    
                    <li><i class="fas fa-tags"></i>BLOG</li>
                  </ul>
                </div>
              </div>
              <div class="blog-content">
                <p>
                  Qu'est-ce que la soudure mécanique ?
  NORMECA est votre partenaire spécialisé pour la conception et la mise en œuvre de solutions industrielles spécifiques. Nous vous proposons une approche innovante et sur mesure allant de l'ingénierie aux solutions de sous-traitance. De plus, nos services comprennent la conception d'assemblages soudés mécaniquement.
  
  Aujourd'hui, nous aimerions vous présenter le concept de soudure mécanique, ses applications potentielles et ses avantages. Enfin, nous verrons comment notre entreprise peut vous aider à concrétiser vos projets industriels.
                </p>
                <p>
                  La mécano soudure est une méthode méconnue pourtant à l'origine de nombreuses réalisations dans le domaine de la métallurgie, plus spécifiquement orientée vers la réalisation de pièces de grosses structures, dans le but de créer une superstructure. Elle consiste donc en la conception ou la récupération d'éléments préfabriqués pour ensuite s'orienter vers un assemblage sur gabarit.
                </p>
                <p>
                  Une structure mécano-soudée est donc un assemblage de pièces métalliques les unes entre les autres par la technique de la soudure. Utilisée en fabrication unitaire, mais aussi en grande séries, cette technique permet d'assembler des éléments de taille importante pour obtenir une structure de grande envergure telles que les garde-corps, les rambardes d'escalier, les mains courantes, balustrades etc. Le soudage Mig/Mag est tout à fait indiqué pour les cadres destinés à soutenir de lourdes charges et est aussi utilisée pour les systèmes de manutention comme les bras manipulateurs ou les élévateurs.
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Blog Sidebar -->
        
  <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
    <div class="stickybar">
      <!-- Derniers articles -->
      <div class="pro-post widget-box post-widget">
        <h4 class="pro-title">Derniers Articles</h4>
        <div class="pro-content pt-0">
          <ul class="latest-posts">
            <li>
              <div class="post-thumb">
                <a [routerLink] = "routes.blog_details">
                  <img
                    class="img-fluid"
                    src="assets/img/blog/blog-thumb-03.jpg"
                    alt="Img"
                  />
                </a>
              </div>
              <div class="post-info">
                <h4>
                  <a [routerLink] = "routes.blog_details"
                    >Nouvelles Techniques de Soudage pour une Performance Améliorée</a
                  >
                </h4>
                <a href="javascript:void(0);" class="posts-date"
                  ><i class="feather icon-calendar"></i> 2 mars 2024</a
                >
              </div>
            </li>
            <li>
              <div class="post-thumb">
                <a [routerLink] = "routes.blog_details">
                  <img
                    class="img-fluid"
                    src="assets/img/blog/blog-thumb-02.jpg"
                    alt="Img"
                  />
                </a>
              </div>
              <div class="post-info">
                <h4>
                  <a [routerLink] = "routes.blog_details"
                    >Comment Choisir le Bon Matériau pour vos Projets de Soudure</a
                  >
                </h4>
                <a href="javascript:void(0);" class="posts-date"
                  ><i class="feather icon-calendar"></i> 15 février 2024</a
                >
              </div>
            </li>
            <li>
              <div class="post-thumb">
                <a [routerLink] = "routes.blog_details">
                  <img
                    class="img-fluid"
                    src="assets/img/blog/blog-thumb-01.jpg"
                    alt="Img"
                  />
                </a>
              </div>
              <div class="post-info">
                <h4>
                  <a [routerLink] = "routes.blog_details"
                    >Conseils Essentiels pour Améliorer la Précision de Soudure</a
                  >
                </h4>
                <a href="javascript:void(0);" class="posts-date"
                  ><i class="feather icon-calendar"></i> 5 janvier 2024</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
            <!-- Catégories -->
            <div class="pro-post widget-box category-widget">
              <h4 class="pro-title">Catégories du Blog</h4>
              <div class="pro-content">
                <ul class="category-link">
                  <li><a href="javascript:void(0);">Techniques de Soudage</a></li>
                  <li><a href="javascript:void(0);">Matériaux de Soudure</a></li>
                  <li><a href="javascript:void(0);">Précision de Soudage</a></li>
                </ul>
              </div>
            </div>
            <!-- /Catégories -->
      
            
          </div>
        </div>
      
      <!-- /Derniers articles -->
        <!-- /Blog Sidebar -->
      </div>
    </div>
  </div>
  <!-- /Page Content -->
  