<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<div class="breadcrumb-list">
					<h2>Project Details</h2>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a [routerLink] = "routes.home">Home</a></li>
							<li class="breadcrumb-item" aria-current="page"> Details</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="company-detail-block pt-0">
					<div class="company-detail">
						<div class="text-center" id="zoom-container" (click)="toggleZoom($event)">
							<img [src]="getFullImageUrl(article?.Photo ?? 'defaultImageUrl')" class="img-fluid" alt="logo" style="max-height: 500px; width: auto;" id="zoom-image">
						</div>
						<div class="company-title">
						  <p>{{ article?.Reference }}</p>
						  <h4>{{ article?.Designation }}</h4>
						</div>
					  </div>
					  <!-- ... other details ... -->
					</div>
					<div class="company-detail-block company-description">
						<h4 class="company-detail-title">Description</h4>
						<p *ngIf="article?.description; else noDescription">
						  <ng-container *ngFor="let sentence of (article?.description ?? '').split('.')">
							<span class="line-icon">&#9656;</span>{{ sentence.trim() }}.<br>
						  </ng-container>
						</p>
						<ng-template #noDescription>
						  <p>No description available.</p>
						</ng-template>
					  </div>
					  
			</div>

			<!-- Blog Sidebar -->
			<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar project-client-view">
				<div class="stickybar">
				<div class="card budget-widget">
					<div class="budget-widget-details">
						<h6>About Product</h6>
						   <div class=" text-center"> <!-- Center the image -->
							<img [src]="getFullImageUrl(article?.Photo ?? 'defaultImageUrl')" class="img-fluid" alt="logo" style="max-height: 200px; width: auto;"> <!-- Make the image bigger -->
						  </div>
						  <h5>{{ article?.Designation }}</h5>
						<span>{{ article?.Reference }}</span>
						
						<ul class="d-flex list-style mb-0 social-list">
							<li>
								<a href="javascript:void(0);" class="social-link-block">
									<i class="fa-brands fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="social-link-block">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="social-link-block">
									<i class="fa-brands fa-linkedin-in"></i>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="social-link-block">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>
						</ul>
						
					</div>
					<div>
						<a href="javascript:void(0);" class="btn  btn-primary price-btn btn-block">Contact Me </a>
					</div>
				</div>
			</div>
			</div>
			<!-- /Blog Sidebar -->

		</div>
	</div>
</div>
<!-- /Page Content -->

