<!-- Breadcrumb -->
<div class="bread-crumb-bar" data-aos="fade-down"  data-aos-duration="3000">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<div class="breadcrumb-list">
					<h3>Process & Parc machines</h3>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Home</a></li>
							<li class="breadcrumb-item" aria-current="page">Process & Parc machines</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->



<section class="section about" >
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 d-flex align-items-center"data-aos="slide-right"  data-aos-duration="3000">
                <div class="about-content">
                    <h2 >Machine de Découpe Laser CO2 TRULASER 3030/3kW</h2>
                    <ul>
                        <li><strong>Maximum découpe Acier:</strong> 20 mm</li>
                        <li><strong>Maximum découpe Inox:</strong> 12 mm</li>
                        <li><strong>Maximum découpe Aluminium:</strong> 8 mm</li>
                        <li><strong>Format de table:</strong> 3000*1500</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6" data-aos="slide-left"  data-aos-duration="3000">
                <div class="about-content-img " >
                    <img src="assets/img/blog/normeca12.png" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6" data-aos="slide-left"  data-aos-duration="3000">
                <div class="about-content-img " >
                    <img src="assets/img/blog/normeca6.png" class="img-fluid" alt="img">
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center " data-aos="slide-right"  data-aos-duration="3000">
				<div class="about-content">
					<h2 >Machine de Découpe Fibre TRULASER 3030/4kw</h2>
					<ul>
						<li ><strong>Maximum de découpe Acier:</strong> 25 mm</li>
						<li ><strong>Maximum de découpe Inox:</strong> 20 mm</li>
						<li ><strong>Maximum de découpe Alu:</strong> 20 mm</li>
						<li ><strong>Maximum de découpe Cuivre:</strong> 8 mm</li>
						<li ><strong>Maximum de découpe Laiton:</strong> 8 mm</li>
						<li ><strong>Format de table:</strong> 3000*1500</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
</section>
			
<section class="section about" >
    <div class="container">
        <div class="row justify-content-center">
            
			<div class="col-lg-6 d-flex align-items-center " data-aos="slide-right"  data-aos-duration="3000">
				<div class="about-content">
					<h2 >Presse Plieuse Colly 170 T</h2>
					<ul>
						<li ><strong>Marque:</strong> Colly</li>
						<li ><strong>Capacité:</strong> 170 T</li>
						<li ><strong>Format:</strong> 3000 mm</li>
						<li ><strong>Machine universelle 0 2 butés arrière</strong></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-6"data-aos="slide-left"  data-aos-duration="3000">
                <div class="about-content-img " >
                    <img src="assets/img/blog/normeca13.png" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section about" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6"data-aos="slide-left"  data-aos-duration="3000">
                <div class="about-content-img ">
                    <img src="assets/img/blog/normeca.png" class="img-fluid" alt="img">
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center " data-aos="slide-right"  data-aos-duration="3000">
                <div class="about-content">
                    <h2 >Presse Plieuse Colly 250 T</h2>
                    <ul>
                        <li ><strong>Marque:</strong> COLLY</li>
                        <li ><strong>Capacité:</strong> 250T</li>
                        <li ><strong>Format:</strong> 3000mm</li>
                        <li ><strong>Commande numérique à 8 axes:</strong> X1, X2, R1, R2, Z1, Z2, Y1, Y2</li>
                        <li ><strong>Serrage outil hydraulique</strong></li>
                        <li ><strong>Serrage V hydraulique</strong></li>
                        <li ><strong>Bombage contrôlé par commande numérique</strong></li>
                        <li ><strong>Commande numérique à écran graphique 2D</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

			



<section class="section projects">
	<div class="container">
		<div class="row row-gap">					
			<div class="col-md-12 col-sm-12 col-12 mx-auto text-center">
				<div class="section-header aos  " data-aos="fade-up">
					<h2 class="header-title">Qu'est-ce qui le rend exceptionnel ?</h2>
<p>Toutes les caractéristiques de Soudage / Mécano-soudure ci-dessous</p>

				</div>
			</div>		
			<!-- Feature Item --> 
			<div class="col-xl-3 col-md-6 aos d-flex  " data-aos="zoom-in" data-aos-duration="1000">
				<div class="feature-items d-flex align-items-center justify-content-center flex-column">
					
					<div class="feature-content course-count text-center">
						<h3>Soudage / Mécano-soudure</h3>
						<p>Maitrise de la soudure MIG, MAG ,TIG, par points.</p>
					</div>
				</div>
			</div>
			<!-- /Feature Item -->
			
			<!-- Feature Item -->
			<div class="col-xl-3 col-md-6 aos d-flex  " data-aos="zoom-in" data-aos-duration="1500">
				<div class="feature-items d-flex align-items-center justify-content-center flex-column">
					
					<div class="feature-content course-count text-center">
						<h3>Polissage</h3>
						<p>Maîtrise de la technique de polissage, brossé, satiné, miroir.</p>
					</div>
				</div>
			</div>
			<!-- /Feature Item -->
			
			<!-- Feature Item -->
			<div class="col-xl-3 col-md-6 aos d-flex  " data-aos="zoom-in" data-aos-duration="2000">
				<div class="feature-items d-flex align-items-center justify-content-center flex-column">
					
					<div class="feature-content course-count text-center">
						<h3>Assemblage</h3>
						<p>Assembler soigneusement des pièces métalliques pour assurer une structure solide et une finition précise.</p>
					</div>
				</div>
			</div>
			<!-- /Feature Item -->	

			<!-- Feature Item -->
			<div class="col-xl-3 col-md-6 aos d-flex  " data-aos="zoom-in" data-aos-duration="2500">
				<div class="feature-items d-flex align-items-center justify-content-center flex-column">
					
					<div class="feature-content course-count text-center">
						<h3>Sertissage </h3>
						<p>Assure une connexion sûre et propre entre les éléments métalliques, démontrant une expertise technique.</p>
					</div>
				</div>
			</div>
			<!-- /Feature Item -->
									
		</div>
	</div>
</section>

<section class="section review">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-6">
				<div class="aos aos-init" data-aos="fade-up"  data-aos-duration="3000">
					<div class="demand-professional">
						<h2>Soudage / Mécano-soudure</h2>
						<p>Maitrise de la soudure MIG, MAG ,TIG, par points.</p>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Poste soudure SAFMIG 400 A:</strong> quantité 03</p>
							</div>
						</div>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Poste soudure SAFMIG 250 A:</strong> quantité 01</p>
							</div>
						</div>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Poste soudure TIG NERTABLOC 250 A:</strong> quantité 01</p>
							</div>
						</div>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Poste soudure TIG TIGMATE 350 AC/DC:</strong> quantité 01</p>
							</div>
						</div>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Poste soudure TIG 160 A:</strong> quantité 04</p>
							</div>
						</div>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Poste Plasma ZiP3:</strong> quantité 01</p>
							</div>
						</div>
						<div class="demand-post-job align-items-start">
							<div class="demand-post-img">
								<img src="assets/img/icon/checks.svg" alt="Img" class="img-fluid">
							</div>
							<div class="demand-content">
								<p><strong>Soudeuse par points:</strong> quantité 01</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-lg-6">    
					<div class="recent-pro-img aos" data-aos="zoom-in"  data-aos-duration="3000">
						<img src="assets/img/blog/normeca14.jpg" alt="Img" class="img-fluid rounded" style="border-radius: 150px;">
					</div>
			</div>			
		</div>
	</div>
</section>



<!-- Polissage Section -->
<section class="section best-marketplace" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="market-place-group section-header-three aos" >
                    <h2>Polissage</h2>
                    <p>Maîtrise de la technique de polissage, brossé, satiné, miroir.</p>
                    <ul class="market-list-out">
                        <li><i class="fa-solid fa-circle-check me-2"></i> Machine à tourelles pour polissage : quantité 03</li>
                        <li><i class="fa-solid fa-circle-check me-2"></i> Machine de polissage SHUMER : quantité 02</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in"  data-aos-duration="3000">
                <div class="markrt-place-img aos">
                    <img src="assets/img/blog/normeca21.jpg" class="img-fluid" alt="Img">
                </div>
            </div>
			
        </div>
    </div>
</section>

<!-- Assemblage + Sertissage + Contrôle Section -->
    <section class="section join-marketplace" >
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div class="market-place-group join-place-blk aos" data-aos="fade-up"  data-aos-duration="3000">
                    <h2>Assemblage & Sertissage & Contrôle</h2>
                    <ul class="market-list-out">
                        <li><i class="fa-solid fa-circle-check"></i> Encocheuse à angle variable</li>
                        <li><i class="fa-solid fa-circle-check"></i> Marque : EUROMAC</li>
                        <li><i class="fa-solid fa-circle-check"></i> Capacité : 220*6 mm</li>
                        <li><i class="fa-solid fa-circle-check"></i> Avec combiné Presse 20 tonnes</li>
                        
                        <li><i class="fa-solid fa-circle-check"></i> Masse : 125 kg</li>
                        <li><i class="fa-solid fa-circle-check"></i> Pression max : 8,6 bar</li>
                        <li><i class="fa-solid fa-circle-check"></i> Compresseur à vis ATLAS COPCO GA 11 FF</li>
                        <li><i class="fa-solid fa-circle-check"></i> Compresseur à vis ATLAS COPCO GA 15 FF</li>
                        <li><i class="fa-solid fa-circle-check"></i> Compresseur à air CHAMAD SHAMAL 10 bar</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-12" data-aos="zoom-in"  data-aos-duration="3000">
					<div class="markrt-place-img aos" >
						<img src="assets/img/blog/normeca19.jpg" class="img-fluid" alt="Img">
					</div>
				</div>
			</div>
		</div>
	</section><section class="section join-marketplace" >
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6 col-md-12 d-flex align-items-center">
					<div class="market-place-group join-place-blk aos" data-aos="fade-up"  data-aos-duration="3000">
						<ul class="market-list-out">
							<li><i class="fa-solid fa-circle-check"></i> Perceuse : quantité 
								<li><i class="fa-solid fa-circle-check"></i> Perceuse : quantité 01</li>
								<li><i class="fa-solid fa-circle-check"></i> Tronçonneuse : quantité 01</li>
								<li><i class="fa-solid fa-circle-check"></i> Tour 2000 mm : quantité 01</li>
								<li><i class="fa-solid fa-circle-check"></i> Rouleuse de tôle 1000*3 mm : quantité 01</li>
								<li><i class="fa-solid fa-circle-check"></i> Presse hydraulique 50 tonnes : quantité 01</li>
								<li><i class="fa-solid fa-circle-check"></i> Presse hydraulique 150 tonnes : quantité 01</li>
								<li><i class="fa-solid fa-circle-check"></i> Chariot élévateur 3 tonnes : quantité 01</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6" data-aos="zoom-in"  data-aos-duration="3000">
						<div class="markrt-place-img aos" >
							<img src="assets/img/blog/normeca18.jpg" class="img-fluid" alt="Img">
						</div>
					</div>
				</div>
				
			</div>
			
		</section>
	


