<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
	  <div class="row align-items-center inner-banner">
		<div class="col-md-12 col-12 text-center">
		  <div class="breadcrumb-list">
			<h2>Blog List</h2>
			<nav aria-label="breadcrumb" class="page-breadcrumb">
			  <ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Home</a></li>
				<li class="breadcrumb-item" aria-current="page">Blog List</li>
			  </ol>
			</nav>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- /Breadcrumb -->
  
  <!-- Page Content -->
  <div class="content">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8 col-md-12">
		  <div class="blog-view">
			<!-- Blog Post -->
			<div class="blog-single-post pro-post widget-box">
			  <div class="blog-image">
				<a [routerLink] = "routes.forgot_password"
				  ><img
					alt="Img"
					src="assets/img/blog/normeca14.jpg"
					class="img-fluid"
				/></a>
			  </div>
			  <h3 class="blog-title">Avantages de la Mécanosoudure dans l'Industrie Automobile</h3>
			  <div class="blog-info clearfix">
				<div class="post-left">
				  <ul>
					<li>
					  <div class="post-author">
						<a [routerLink] = "routes.freelancer_developer_profile"
						  ><img src="assets/img/logo.png" alt="Post Author" />
						  <span>NORMECA</span></a
						>
					  </div>
					</li>
					<li><i class="far fa-calendar"></i>4 May 2021</li>
					
				  </ul>
				</div>
			  </div>
			  <div class="blog-content">
				<p>
					Explorez comment la mécanosoudure révolutionne l'industrie automobile. Découvrez comment cette technique de soudage offre une résistance accrue et une durabilité optimale aux composants mécaniques des véhicules. De la fabrication des châssis à la création de pièces sur mesure, plongez dans les multiples applications de la mécanosoudure pour propulser l'innovation dans le monde de l'automobile.
				</p>
				<a [routerLink] = "routes.forgot_password" class="read-more">Read More</a>
			  </div>
			</div>
			<!-- /Blog Post -->
  
			<!-- Blog Post -->
			<div class="blog-single-post pro-post widget-box">
			  <div class="blog-image">
				<a [routerLink] = "routes.forgot_password"
				  ><img
					alt="Img"
					src="assets/img/blog/normeca18.jpg"
					class="img-fluid"
				/></a>
			  </div>
			  <h3 class="blog-title">
				Mécanosoudure : Les Secrets de la Qualité et de la Fiabilité
			  </h3>
			  <div class="blog-info clearfix">
				<div class="post-left">
				  <ul>
					<li>
					  <div class="post-author">
						<a [routerLink] = "routes.freelancer_developer_profile"
						  ><img src="assets/img/logo.png" alt="Post Author" />
						  <span>NORMECA</span></a
						>
					  </div>
					</li>
					<li><i class="far fa-calendar"></i>4 May 2021</li>
					
				  </ul>
				</div>
			  </div>
			  <div class="blog-content">
				<p>
					Plongez au cœur des principes fondamentaux de la mécanosoudure pour garantir des résultats de qualité et une fiabilité inégalée. Découvrez les techniques avancées de soudage, les matériaux de pointe et les normes de contrôle de qualité essentielles pour assurer des soudures précises et durables. Que vous soyez novice ou professionnel expérimenté, ce blog vous offre un aperçu approfondi pour atteindre l'excellence en mécanosoudure.
				</p>
				<a [routerLink] = "routes.forgot_password" class="read-more">Read More</a>
			  </div>
			</div>
			<!-- /Blog Post -->
  <!-- Blog Post -->
  <div class="blog-single-post pro-post widget-box">
	<div class="blog-image">
	  <a [routerLink] = "routes.forgot_password"
		><img
		  alt="Img"
		  src="assets/img/blog/normeca19.jpg"
		  class="img-fluid"
	  /></a>
	</div>
	<h3 class="blog-title">
		Les Applications Avancées de la Mécanosoudure dans l'Industrie Énergétique
	</h3>
	<div class="blog-info clearfix">
	  <div class="post-left">
		<ul>
		  <li>
			<div class="post-author">
			  <a [routerLink] = "routes.freelancer_developer_profile"
				><img src="assets/img/logo.png" alt="Post Author" />
				<span>NORMECA</span></a>
			</div>
		  </li>
		  <li><i class="far fa-calendar"></i>4 May 2021</li>
		  
		</ul>
	  </div>
	</div>
	<div class="blog-content">
	  <p>
		Explorez les applications novatrices de la mécanosoudure dans l'industrie énergétique. Découvrez comment cette technique de soudage est utilisée pour la fabrication et la réparation des infrastructures pétrolières, gazières et éoliennes. De la construction de pipelines à la maintenance des plateformes offshore, plongez dans les défis uniques et les solutions ingénieuses offertes par la mécanosoudure pour répondre aux besoins croissants en énergie.	  </p>
	  <a [routerLink] = "routes.forgot_password" class="read-more">Read More</a>
	</div>
  </div>
  <!-- /Blog Post -->
			<!-- Blog Post -->
			<div class="blog-single-post pro-post widget-box">
			  <div class="blog-image">
				<div class="video">
				  <iframe
					src="https://www.youtube.com/embed/odectErwpuo?si=9yXQxIa_T3eoBrQZ"
					width="940"
				  ></iframe>
				</div>
			  </div>
			  <h3 class="blog-title">Innovation et Mécanosoudure : Redéfinir les Normes de l'Industrie</h3>
			  <div class="blog-info clearfix">
				<div class="post-left">
				  <ul>
					<li>
					  <div class="post-author">
						<a [routerLink] = "routes.freelancer_developer_profile"
						  ><img src="assets/img/logo.png" alt="Post Author" />
						  <span>NORMECA</span></a
						>
					  </div>
					</li>
					<li><i class="far fa-calendar"></i>4 May 2021</li>
					
				  </ul>
				</div>
			  </div>
			  <div class="blog-content">
				<p>
					Explorez comment l'innovation en mécanosoudure propulse l'industrie aérospatiale vers de nouveaux sommets. Découvrez les dernières avancées technologiques qui transforment la fabrication des structures aérospatiales, des moteurs aux éléments de fuselage. De la réduction de poids à l'amélioration de la résistance, plongez dans l'impact révolutionnaire de la mécanosoudure sur la conception et la performance des aéronefs de demain.
				</p>
				<a [routerLink] = "routes.forgot_password" class="read-more">Read More</a>
			  </div>
			</div>
			<!-- /Blog Post -->
  
			<div class="row">
			  <div class="col-md-12">
				<ul class="paginations list-pagination">
				  <li class="page-item">
					<a href="javascript:void(0);"
					  ><i class="feather icon-chevron-left"></i
					></a>
				  </li>
				  <li class="page-item">
					<a href="javascript:void(0);" class="active">1</a>
				  </li>
				  <li class="page-item"><a href="javascript:void(0);">2</a></li>
				  <li class="page-item"><a href="javascript:void(0);">3</a></li>
				  <li class="page-item"><a href="javascript:void(0);">...</a></li>
				  <li class="page-item"><a href="javascript:void(0);">10</a></li>
				  <li class="page-item">
					<a href="javascript:void(0);"
					  ><i class="feather icon-chevron-right"></i
					></a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
  
		<!-- Blog Sidebar -->
		<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
			<div class="stickybar">
			  <!-- Derniers articles -->
			  <div class="pro-post widget-box post-widget">
				<h4 class="pro-title">Derniers Articles</h4>
				<div class="pro-content pt-0">
				  <ul class="latest-posts">
					<li>
					  <div class="post-thumb">
						<a [routerLink] = "routes.forgot_password">
						  <img
							class="img-fluid"
							src="assets/img/blog/normeca21.jpg"
							alt="Img"
						  />
						</a>
					  </div>
					  <div class="post-info">
						<h4>
						  <a [routerLink] = "routes.forgot_password"
							>Nouvelles Techniques de Soudage pour une Performance Améliorée</a
						  >
						</h4>
						<a href="javascript:void(0);" class="posts-date"
						  ><i class="feather icon-calendar"></i> 2 mars 2024</a
						>
					  </div>
					</li>
					<li>
					  <div class="post-thumb">
						<a [routerLink] = "routes.forgot_password">
						  <img
							class="img-fluid"
							src="assets/img/blog/normeca15.jpg"
							alt="Img"
						  />
						</a>
					  </div>
					  <div class="post-info">
						<h4>
						  <a [routerLink] = "routes.forgot_password"
							>Comment Choisir le Bon Matériau pour vos Projets de Soudure</a
						  >
						</h4>
						<a href="javascript:void(0);" class="posts-date"
						  ><i class="feather icon-calendar"></i> 15 février 2024</a
						>
					  </div>
					</li>
					<li>
					  <div class="post-thumb">
						<a [routerLink] = "routes.forgot_password">
						  <img
							class="img-fluid"
							src="assets/img/blog/normeca19.jpg"
							alt="Img"
						  />
						</a>
					  </div>
					  <div class="post-info">
						<h4>
						  <a [routerLink] = "routes.forgot_password"
							>Conseils Essentiels pour Améliorer la Précision de Soudure</a
						  >
						</h4>
						<a href="javascript:void(0);" class="posts-date"
						  ><i class="feather icon-calendar"></i> 5 janvier 2024</a
						>
					  </div>
					</li>
				  </ul>
				</div>
			  </div>
					<!-- Catégories -->
					<div class="pro-post widget-box category-widget">
					  <h4 class="pro-title">Catégories du Blog</h4>
					  <div class="pro-content">
						<ul class="category-link">
						  <li><a href="javascript:void(0);">Techniques de Soudage</a></li>
						  <li><a href="javascript:void(0);">Matériaux de Soudure</a></li>
						  <li><a href="javascript:void(0);">Précision de Soudage</a></li>
						</ul>
					  </div>
					</div>
					<!-- /Catégories -->
			  
					
				  </div>
				</div>
		<!-- /Blog Sidebar -->
	  </div>
	</div>
  </div>
  <!-- /Page Content -->
  