						<div class="on-board field-card select-account select-btn"
							>
							<div class="text-center onboard-head" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
                                <h2 style="color: #3333cc;">Contactez-nous par Email: <a href="mailto:manager@normeca.com.tn" style="color: #ffcc00; text-decoration: none;">manager@normeca.com.tn</a></h2>
                                <p>Dans votre e-mail, <span style="color: #3333cc;">veuillez</span></p>
                                <ul style="list-style-type: none; padding: 0;">
                                    <li><span style="color: #3333cc;">Joindre des dessins</span> dans des formats tels que <span style="color: #3333cc;">AutoCAD, Solidworks, IGES, PDF</span></li>
                                    <li><span style="color: #3333cc;">Présenter brièvement</span> votre entreprise</li>
                                    <li><span style="color: #3333cc;">Décrire vos besoins</span> (quantité de commande, urgence, maturité de la conception, principales préoccupations, etc.)</li>
                                </ul>
                                <p>Nos ingénieurs répondront dans les <span style="color: #3333cc;">24 heures</span> et fourniront un devis dans un délai de <span style="color: #3333cc;">1 à 3 jours</span> !</p>
                            </div>
                            
							<div class="field-item personal-info">
								
								<div>
									<div class="media-set">
										<div class="row">
											<div class="col-md-12">
												<h4>Email</h4>
											</div>
											<div class="col-md-12">
												<div class="input-block">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
									
									<div class="media-set">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Soumettre un formulaire de demande de renseignements</h4>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="input-block">
                                                    <label for="document-number" class="form-label">Message</label>
                                                    <textarea class="form-control" rows="5" placeholder="Écrivez Votre Message ici"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-block">
                                                    <label for="document-number" class="form-label">Document</label>
                                                    <div class="upload-sets">
                                                        <label class="upload-filesview">
                                                             fichier
                                                            <input type="file">
                                                        </label>
                                                        <h6>Parcourir le fichier</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
									
								</div>
							</div>
							<div class="text-center">
								
								<input class="btn next_btn btn-primary btn-get btn-next" name="next" type="button"
									value="Submit" >
							</div>
						</div>
						 
